* {
  box-sizing: border-box;
}
.container {
  /* flexbox */
  display: flex;
  background-color: aqua;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: flex-start; /* ตรงกันข้ามกับdirection */
  height: 50vh;
  /* flex-wrap: wrap-reverse; */
}
.item {
  background-color: orange;
  border: 1px solid;
  width: 200px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
}
#item3 {
  align-self: flex-end;
}
#item1 {
  align-self: center;
}
/* #item2 {
  flex-shrink: 7;
}
#item1 {
  flex-grow: 5;
} */
